[{ conway, [{port,8080}]},
 {lager, [{log_root, "/tmp"},
  {handlers, [{lager_console_backend, error},
  	      {lager_file_backend, [{file, "conway-error.log"}, {level, error}, {size, 10485760}, {date, "$D0"}, {count, 5}]},
	      {lager_file_backend, [{file, "conway-console.log"}, {level, info}, {size, 10485760}, {date, "$D0"}, {count, 5}]}]}]}
].
